<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Spring Security example</title>
</head>
<h1>Login Page</h1>

<p> Click <a th:href="@{/login}">here</a>To see our Login Page</p>
<body>

<div th:if="${param.error}">
    Invalid username or password!
</div>

<div th:if="${param.logout}">

    You have been logout!
</div>
<form th:action="@{/login}" method="post">
    <div><label>User name: <input type ="text" name="username"></label></div>
    <div><label>Password: <input type="password" name="password"></label></div>
    <div><input type="submit" value="Sign In"></div>
</form>
</body>
</html>